* {
  font-family: "Times New Roman", Times, serif;
}

.card :hover {
  box-shadow: 10px;
}

div.card img {
  object-fit: cover;
}

footer p {
  font-size: large;
  color: white;
}

.card {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  .card {
    flex-direction: row;
  }
}
